/***************************
COMMON
***************************/

section p{
    font-size: 18px;
    font-weight: 500;
    color: rgb(129, 129, 129);
}

section {
    padding: 50px 10px;
}

.sectionHeading {
    font-family: 'Roboto Slab';
    font-weight: 300;
    font-size: 42px;
    text-align: center;
    background-image: linear-gradient(to left, #C845AA, #770DDB); 
    -webkit-text-fill-color: transparent; 
    background-clip: text;
}

.postHeadingPara {
    text-align: center; 
    padding: 20px 24% 30px;
}

.greySection {
    background-color: #dddddd;
}

.themeColorBtn {
    background-image: linear-gradient(to top left, #C845AA, #770DDB); 
}

.themeColor {
    background-image: linear-gradient(to left, #C845AA, #770DDB); 
    -webkit-text-fill-color: transparent; 
    background-clip: text;
}

@media only screen and (max-width: 992px) {
    .postHeadingPara {
        padding: 20px 5% 30px;
    }
}


@media only screen and (max-width: 768px) {
    .sectionHeading {
        font-size: 34px;
    }
    .postHeadingPara {
        font-size: 14px;
        padding: 20px 0% 30px;
    }
}


/****************************
HEADER
*****************************/

.headerSection {
    position: relative;
    width: 100%;
    padding: 0;
    padding-bottom: 100px;
}

.headerSection p {
    color: white;
}

.headerSection #particles-js {
    position: absolute;
    background-image: linear-gradient(to left, #C845AA, #770DDB); 
    width:100%; 
    height: 100%;
    background-size: cover;
}

.form-control:invalid {
    border-color: red;
    box-shadow: none;
}

/****************************
NAV SECTION
*****************************/


.navSection {
    font-weight: 300;
    font-family: 'Roboto Slab';
}

.navSection .nav-item {
    margin: 0 12px;
    font-family: 'Roboto Slab';
    font-weight: 400;
}





/****************************
AMAZING FEATURES SECTION
****************************/



/****************************
CHOOSE YOUR PLAN SECTION
****************************/

.plans {
    margin-top: 2rem;
    transition: 0.6s;
}

.plans:hover {
    margin-top: -5px;
}

.planPrice {
    font-family: 'Roboto Slab';
    font-weight: 300;
    font-size: 60px;
}


/**************************
PROPERTIES SECTION
***************************/

.propSection .shadowBox{
    box-shadow: 0 0 5px; 
    padding: 20px
}

.propSection .shadowBox:hover {
    background-color: #dddddd;
}


/**************************
TEAM SECTION
***************************/

.teamSection .row div {
    padding: 7px;
    transition: 0.5s;
}

.teamSection .row div:hover {
    padding: 2px;
}

/***************************
CLIENTS SECTION
****************************/

.carousel{
    margin-top: 20px;
}
.carousel-item{
    padding-top: 30px;
    text-align: center;
    min-height: 320px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}

.clientName {
    color: black;
}

.clientPost {
    color: rgba(0, 0, 0, 0.678);
}

.clientsSection img {
    margin: 20px;
}

.carousel-control-next-icon:after {
    content: '>';
    font-weight: 900;
    font-size: 40px;
    background-image: linear-gradient(to left, #C845AA, #770DDB);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-weight: 900;
    font-size: 40px;
    background-image: linear-gradient(to left, #C845AA, #770DDB);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

@media only screen and (max-width: 768px) {
    .carousel-item {
        min-height: 400px;
    }
}

@media only screen and (max-width: 455px) {
    .carousel-item {
        min-height: 500px;
    }
}



/***************************
GET IN TOUCH SECTION
****************************/

.getInTouchFormContainer {
    padding: 20px;
}

.mapContainer {
    padding: 20px;
}

/***************************
FOOTER SECTION
****************************/

.footerSection {
    background-color: rgb(58, 58, 58);
    color: rgb(139, 139, 139);
    font-size: 18px;
}

.footerSection span:hover {
    color: #C845AA;
}


/**************************
ContactUs Form
***************************/

.contactUsForm {
    margin: 30px 25% 20px;
    border-radius: 10px;
    min-width: 410px;
}

.contactUsForm .row {
    padding: 0 15px;
}

.contactOption {
    padding: 10px;
    margin: 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#callOption {
    border: 5px solid #C845AA;
    border-bottom: none;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-sizing: border-box;
}

#messageOption {
    border-bottom: 5px solid #C845AA;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-sizing: border-box;
}

.contactFormInner {
    border: 5px solid #C845AA;    
    padding: 30px;
    /* height: 500px; */
    border-top: none;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.contactFormInner h3 {
    font-weight: 700;
}

.contactUsForm .btn {
    color: white;
    background-image: linear-gradient(to left, #C845AA, #770DDB);
    font-weight: 600;
}

.contactUsForm .btn:hover {
    color: #C845AA;
    background-image: none;
    border: 1px solid #C845AA;
}

#messageContainer {
    display: none;
}

@media only screen and (max-width: 993px) {
    .contactUsForm {
        margin: 30px 0px;
    }
}

@media only screen and (max-width: 768px) {
    .contactUsForm {
        margin: 30px 0px;
    }
}